<!-- Begin Important Dates-->
<section id="important-dates" class="important-dates">
  <div>
    <ul class="dates-list">
      <li>Deadline for abstract submission. December 14th 2024</li>
      <li>Invited talks selected by Programme Committee. January 5th 2025</li>
      <li>Registration opens. November 4th 2024</li>
      <li>
        Registration closes. February 14th 2025 -
        <b>Extended until February 28th 2025</b>
      </li>
      <li>
        <a href="https://indico.iter.org/event/484/program">INDICO website</a>
        to manage contributions hosted by ITER
      </li>
    </ul>
  </div>
</section>
<!-- End Important Dates -->
