<!-- Begin Important Dates-->
<section id="important-dates" class="important-dates">
    <div>
        <ul class="dates-list">
            <li>Deadline for abstract submission. December 14th</li>
            <li>Invited talks selected by Programme Committee. January 5th</li>
            <li>Registration opens. November 4th</li>
            <li><a href="https://indico.iter.org/event/484/program">INDICO website</a> to manage contributions hosted by ITER</li>
        </ul>
    </div>
</section>
<!-- End Important Dates -->