<!-- Begin registration-->
<section id="important-registration" class="important-registration">
  <div>
    <p>
      Registration starts on November 2024. OPEN. Registration closes on
      February 14th 2025 - <b>Extended until February 28th 2025.</b>
    </p>
    <p>Please complete the following procedure to finish your registration:</p>
    <ul class="registration-list">
      <li>
        Submit your abstract through the
        <a href="https://indico.iter.org/e/18-TM-on-EPs-2025"
          >INDICO website hosted by ITER.</a
        >
      </li>
      <li>
        Register your attendance at the conference by filling in<a
          href="https://forms.gle/42ngcFm899FnAaUU9"
        >
          this registration form</a
        >
      </li>
      <li style="list-style-type: none">
        <ul>
          <li>
            Please indicate if an invitation letter is required for a VISA.
          </li>
          <li>Please indicate any special requirements or wishes.</li>
          <li>
            The conference registration fee is 350 Euros and covers all the
            conference services (venue, material, coffee breaks) and a welcome
            cocktail on Monday. Please note that the conference dinner is not
            included in the registration fee.
          </li>
          <li>
            During the online registration process, you will receive the bank
            details for your payment.
          </li>
          <li>
            If you encounter any issues during the process, please contact us at
            tmep2025@psft.eu
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<!-- End registration -->
