<!-- Begin registration-->
<section id="important-registration" class="important-registration">
    <div>
        <ul class="registration-list">
            <li>Registration starts on November 2024. Please fill and submit the registration form (Coming soon)</li>
            <li>The conference registration fee is 350 Euros (to be confirmed) and covers all the conference services (venue, material, coffee breaks) and a welcome cocktail on Monday. Please note that the conference dinner is not included in the registration fee. </li>
            <li>During the online registration process, you will receive the bank details for your payment.</li>
            <li>If you encounter any issues during the process, please contact us at tmep2025@psft.eu</li>
        </ul>
    </div>
</section>
<!-- End registration -->