<!-- Begin Scientific Committee-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">International Programme Advisory Committee</h4>
            {% for teamMember in site.data.scientific-committee %} {% if teamMember.team != null %}
                <h6 class="name">{{ teamMember.surname }}, <span>{{ teamMember.name }} - {{ teamMember.title }}</span></h6>
            
            {% endif %} {% endfor %}
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Local Organizing Committee</h4>
            {% for teamMember in site.data.scientific-committee %} {% if teamMember.subTeam != null %}
            
                    <h6 class="name">{{ teamMember.surname }}, <span>{{ teamMember.name }} - {{ teamMember.title }}</span></h6>
            
            {% endif %} {% endfor %}
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Topics</h4>
            {% for topic in site.data.scientific-committee %} {% if topic.topic != null %}
            
                    <h6 style="color:#03a9f4;" class="name">{{ topic.title }}</h6>
            
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<!-- End Scientific Committee -->
