<!-- Begin Social Program-->
<section id="social-program" class="social-program">
    <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
        <div class="social-container">
            <h3>Welcome Reception</h3>
            <div>
                <p>The welcome reception will be held on Monday March 17th 2025, in the evening, at the Fundacion de Madariaga (to be confirmed) </p>
                <img src="{{ site.baseurl }}/img/venue/venue_1.jpg">
            </div>
        </div>
        <div>
            <h3>Conference Dinner</h3>
            <div class="social-container">
                <p>The conference dinner will be held on Wednesday September 12th 2018 at the Abades Triana restaurant.
                    Aperitif and drinks starts at 20:00 and dinner service at 20:30.
                    
                    www.abadestriana.com
                    
                    Calle Betis, 69
                    
                    C.P: 41010, Sevilla</p>
                <img src="{{ site.baseurl }}/img/social-program/abades-triana.jpeg">
            </div>
        </div>
    </div>
</section>
<!-- End Social Program -->