<!-- Begin Social Program-->
<section id="social-program" class="social-program">
    <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
        <div class="social-container">
            <h4>Welcome Reception</h4>
            <div>
                <p>The welcome reception will be held on Monday March 17th 2025, in the evening, at the Hotel Giralda Center </p>
                    <div class="social-images">
                        <img src="{{ site.baseurl }}/img/venue/giralda-lobby.jpeg">
                        <img src="{{ site.baseurl }}/img/venue/hotel_04.jpg">
                        <img src="{{ site.baseurl }}/img/venue/hotel_01.jpg">
                    </div>
            </div>
        </div>
        <div class="social-container">
            <h4>SMART Tokamak Visit</h4>
            <div>
                <p>The SMART Tokamak visit will take place on Tuesday March 18th 2025, in the afternoon (to be confirmed) </p>
                <div class="social-images">
                    <img style="object-fit: cover;" src="{{ site.baseurl }}/img/social-program/tokamak.png">
                </div>
            </div>
        </div>
        <div>
            <div class="social-container">
                <h4>Conference Dinner</h4>
                <p>The conference dinner will be held on Thursday March 20th 2025 at the Abades Triana restaurant.
                    Aperitif and drinks starts at 20:00 and dinner service at 20:30 (to be confirmed).
                    
                    www.abadestriana.com
                    
                    Calle Betis, 69
                    
                    C.P: 41010, Sevilla</p>
                    <div class="social-images">
                        <img src="{{ site.baseurl }}/img/social-program/abades-triana.jpeg">
                        <img src="{{ site.baseurl }}/img/social-program/abades-triana-1.jpg">
                        <img src="{{ site.baseurl }}/img/social-program/abades-triana-2.jpeg">
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- End Social Program -->